/* Navbar.css */
.navbar {
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  font-family: "Montserrat", sans-serif;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 0px;
  margin: 0;
  border: 0;
}

.navbar-header {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
}

.hamburger {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  flex-direction: column;
  gap: 4px;
}

.hamburger-line {
  width: 25px;
  height: 3px;
  background-color: rgb(255, 255, 255);
  border-radius: 2px;
}

.navbar-container {
  display: flex;
  gap: 2rem;
  margin: 0;
  border: 0;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #00bcd4;
}

/* Updated Responsive Styles with Outer Box Animation */
@media (max-width: 768px) {
  .hamburger {
    display: flex;
  }

  .navbar-container {
    display: flex;
    flex-direction: column;
    background-color: #333;
    position: absolute;
    top: 60px;
    right: 0px;
    left: 0px;
    padding: 1rem 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 100%;
    border: 6px;
    margin-right: 0;

    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.3s ease;
  }

  .navbar-container.open {
    transform: scaleY(1); /* Expands the dropdown vertically */
  }

  .nav-link {
    padding: 0.1rem 2rem;
    text-align: center;
    opacity: 1;
    transform: none;
    transition: none;
  }
}
